{% extends "base.html" %}
{% block content %}

    <form action="{{url_for('courses_create')}}" method="get">
        <input type="submit" value="New User"> New User
    </form>
    <form action="{{url_for('courses_secret')}}" method="get">
        <input type="submit" value="Log in"> Old User
    </form>
    <table /> 
    <thead> 
           <th>ID</th>
           <th>User name</th>
           <th>Password</th>
           <th></th>
           
    </thead> 
    {% for row in cursor %}
        <tr>
            <td>{{ row[0]}}</td> 
            <td>{{ row[1]}}</td> 
            <td>{{ row[2]}}</td>

            <td>
                <form action="{{url_for('courses_delete',id=row[0])}}" method='post' onsubmit='return confirm("Are you sure?")'>
                    <input type='submit' value='Delete' />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}